body {
    min-height: 100vh;;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:lightgray;
}

header {
    padding: 1rem 0;
    background-color: #FFE69F;
    min-width: 100%;
    padding: 2rem 0;
    position: fixed;
    top: 0;
}

.head-content {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    min-width: 100%;
}

.main-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    background-color:lightgray;
    padding: 2rem 1.5rem 1rem;
    position: fixed;
    bottom: 0;
}

.buttons {
    display: flex;
    justify-content: center;
}


