body {
    min-height: 100vh;;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:lightgray;
}

header {
    padding: 1rem 0;
    background-color: #FFE69F;
    min-width: 100%;
    box-shadow: -3px -6px 20px 0px grey;
}

footer {
    display: flex;
    min-width: 100%;
}

.footer {
    background-color:lightgray;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.card {
    max-width: 80%;
    margin: 1rem 0;
}