body {
    min-height: 100vh;;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    margin: 2rem;
    padding-top: 1rem;
    background-color: yellow;
}

.image-container {
    display: flex;
}

.image-box {
    max-width: 66vw;
}

footer {
    display: flex;
    justify-content: space-evenly;
}